<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/header"></header>
<section class="container">
    <h1 th:text="${title}"></h1>
    <div class="book-list">
        <p th:if="${books.isEmpty()}"
             th:text="'No books yet! Use the \'New\' button to add some books.'"></p>
        <div class="book" th:each="book: ${books}">
            <div class="img-container"><img th:src="${book.imagePath}"></div>
            <div class="info">
                <div th:text="${book.title}">Mark</div>
                <div th:text="${book.author}">Mark</div>
                <div th:text="${book.category}">Mark</div>
            </div>
            <div class="buttons" sec:authorize="isAuthenticated()">
                <a class="btn btn-success btn-sm" th:href="'/books/edit/'+${book.id}">Edit</a>
                <a class="btn btn-danger btn-sm" th:href="'/books/delete/'+${book.id}">Delete</a>
            </div>
        </div>
    </div>
</section>
<footer th:replace="fragments/footer"></footer>
</body>
</html>