<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/header"></header>
<section class="container">
    <h1 th:text="${title}"></h1>
    <div class="book-list">
        <div class="book" th:each="book: ${books}">
            <div th:text="${book.title}">Mark</div>
            <div th:text="${book.author}">Mark</div>
            <div th:text="${book.category}">Mark</div>
            <div>
                <a class="btn btn-success btn-sm" th:href="'/books/edit/'+${book.id}">Edit</a>
                <a class="btn btn-danger btn-sm" th:href="'/books/delete/'+${book.id}">Delete</a>
            </div>
        </div>
    </div>
</section>
<footer th:replace="fragments/footer"></footer>
</body>
</html>